* {
  margin: 0px;
  padding: 0px;
}

main {
  background: #4a1a0e;
  padding-bottom: 74px;
  overflow: hidden;
}

.dumele-sign {
  margin: 66px 0 74px 74px;
}

.dumele-symbol {
  width: 590px;
  position: absolute;
  right: 0;
}

.introduction {
  font-style: normal;
  padding: 0 30px 0 74px;
  max-width: 672px;
}

h1.intro-text {
  font-family: sen;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;

  color: #ffffff;
}

p.paragraph-text {
  font-family: Epilogue;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;

  color: #ffffff;
}

form {
  font-family: Epilogue;
  display: flex;
  margin-top: 46px;
  height: 55px;
}

input.form,
button.submit {
  padding: 0 16px;
}

input.form {
  flex: 3;

  font-size: 18px;
  font-weight: 400;

  background: #fcfcfc;
  border: 1px solid rgba(255, 254, 254, 0.51);
  border-radius: 6px 0px 0px 6px;
}
button.submit {
  flex: 1;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fcfcfc;

  background: #f18404;
  border-radius: 0px 6px 6px 0px;
  border: none;

  cursor: pointer;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  margin: 121px 74px 0 74px;
  padding: 50px 25px;
  font-family: Epilogue;
  font-style: normal;

  background: #f9f7f5;
  box-shadow: 0px 0px 4px 10px rgba(74, 26, 14, 0.02);
  border-radius: 35px;
}

.inner-container .group,
.inner-container .question {
  flex: 2;
}

img.group-img {
  border-radius: 8px;
  background: #f2edea;
  padding: 16px;
}

.inner-container header {
  display: flex;
  align-items: center;
}

h3 {
  color: #4a1a0e;
  padding-left: 40px;
}

p.we-are,
p.we-believe {
  font-weight: normal;
  line-height: 24px;
  color: #333131;
  margin-top: 18px;
}

.question {
  padding-left: 197px;
}

img.question-img {
  padding: 16px;
  border-radius: 8px;
  background: #f2edea;
}

footer img {
  display: block;
  margin: 50px auto;
}

.copyright {
  float: right;
  margin-right: 30px;
  font-family: Epilogue;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 32px;
  color: #56556c;
}

@media only screen and (max-width: 1340px) {
  .dumele-symbol {
    width: 550px;
  }
}

@media only screen and (max-width: 1265px) {
  .dumele-symbol {
    width: 500px;
  }
}

@media only screen and (max-width: 1150px) {
  .dumele-symbol {
    width: 400px;
  }
}

@media only screen and (max-width: 1050px) {
  .dumele-symbol {
    width: 300px;
  }
}

@media only screen and (max-width: 960px) {
  .dumele-symbol {
    width: 200px;
  }
}

@media only screen and (max-width: 898px) {
  .inner-container {
    display: block;
    margin-left: 27px;
    margin-right: 27px;
  }

  .inner-container header {
    display: block;
  }

  h3 {
    padding-left: 0;
    padding-top: 8px;
  }

  .question {
    padding-left: 0;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 630px) {
  .introduction {
    padding-left: 30px;
  }

  .dumele-symbol {
    width: 100px;
  }

  .dumele-sign {
    width: 160px;
    margin-left: 30px;
  }

  form {
    flex-direction: column;
  }

  button.submit {
    margin-top: 10px;
  }

  input.form,
  button.submit{
    flex: none;
    border-radius: 6px;
    height: 55px;
  }

  h1.intro-text {
    font-size: 28px;
    line-height: 32px;
  }

  p.paragraph-text {
    font-size: 14px;
    line-height: 22px;
    width: 106%;
  }

  .inner-container {
    border-radius: 15px;
  }

  .copyright {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
