* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #4a1a0e;
}

img.dumele-logo {
    position: absolute;
    left: 5.14%;
    right: 77.15%;
    top: 4.21%;
    bottom: 92.85%;
}

.embedding-technology {
    position: absolute;
    width: 534px;
    height: 153px;
    left: 74px;
    top: 161px;

    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;

    color: #ffffff;
}

p.dumele-is-designed-for {
    position: absolute;
    width: 511px;
    height: 82px;
    left: 74px;
    top: 398px;

    font-family: Epilogue;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;

    color: #ffffff;
}

input.form {
    position: absolute;
    width: 429px;
    height: 55px;
    left: 76px;
    top: 513px;

    background: #fcfcfc;
    border: 1px solid rgba(255, 254, 254, 0.51);
    box-sizing: border-box;
    border-radius: 6px 0px 0px 6px;

    font-family: Epilogue;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #c1bdbd;
}

button.submit {
    position: absolute;
    width: 179px;
    height: 56px;
    left: 505px;
    top: 513px;

    font-family: Epilogue;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #fcfcfc;
    
    background: #f18404;
    border-radius: 0px 6px 6px 0px;

    cursor: pointer;
}

img.symble {
    position: absolute;
    left: 57.96%;
    right: 32.83%;
    top: 47%;
    bottom: 63.75%;
}

img.symble-1 {
    position: absolute;
    left: 73.19%;
    right: -3.86%;
    top: -4.98%;
    bottom: 63.76%;
}

img.symble-2 {
    position: absolute;
    left: 66.04%;
    right: 4.26%;
    top: -4.98%;
    bottom: 63.76%;
}

img.symble-3 {
    position: absolute;
    left: 57.96%;
    right: 12.38%;
    top: -4.98%;
    bottom: 78.34%;
}

.inner-container {
    position: absolute;
    width: 1275px;
    height: 371px;
    left: 35px;
    top: 698px;

    background: #f9f7f5;
    box-shadow: 0px 0px 4px 10px rgba(74, 26, 14, 0.02);
    border-radius: 35px;
}

img.group {
    position: absolute;
    width: 88px;
    height: 84px;
    left: 56px;
    top: 76px;

    background: #f2edea;
    border-radius: 8px;
}

.who-we-are {
    position: absolute;
    width: 119px;
    height: 20px;
    left: 168px;
    top: 106px;

    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #4a1a0e
}

p.we-are {
    position: absolute;
    width: 544px;
    height: 193px;
    left: 54px;
    top: 183px;

    font-family: Epilogue;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;

    color: black;
}

img.question {
    position: absolute;
    width: 88px;
    height: 84px;
    left: 745px;
    top: 56px;

    background: #f2edea;
    border-radius: 8px;
}

.our-why {
    position: absolute;
    width: 82px;
    height: 20px;
    left: 837px;
    top: 103px;

    font-family: Epilougue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: #4a1a0e;
}

p.we-believe {
    position: absolute;
    width: 544px;
    height: 154px;
    left: 725px;
    top: 183px;

    font-family: Epilogue;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;

    color: black;
}

.footer {
    position: absolute;
    width: 1364px;
    height: 385px;
    left: 0px;
    top: 1182px;

    background: #f9f8f7;
}

.mail {
    cursor: pointer;
}

img.mail-up {
    position: absolute;
    left: 47.99%;
    right: 48.01%;
    top: 15.53%;
    bottom: 20.06%;
}

img.mail-down {
    position: absolute;
    left: 47.99%;
    right: 48.01%;
    top: 20.56%;
    bottom: 20.06%;
}

img.mail-left {
    position: absolute;
    left: 48%;
    right: 50.06%;
    top: 16.92%;
    bottom: 20.06%;
}

img.mail-right {
    position: absolute;
    left: 50.85%;
    right: 48%;
    top: 16.92%;
    bottom: 19.37%; 
}

img.dumele-symble {
    position: absolute;
    left: 47.35%;
    right: 48%;
    top: 31.92%;
    bottom: 19.37%;
}

img.dumele-logo2 {
    position: absolute;
    left: 42.61%;
    right: 48%;
    top: 56.92%;
    bottom: 19.37%;
}

footer.copyright {
    position: absolute;
    width: 214px;
    height: 32px;
    left: 1150px;
    top: 355px;

    font-family: Epilogue;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 32px;

    color: #56556c;
}

@media only screen and (max-width: 375px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        background: #4a1a0e;
    }
    
    img.dumele-logo {
        width: 132.71px;
        position: absolute;
        height: 26.68px;
        left: 28px;
        top: 24px;
    }
    
    .embedding-technology {
        position: absolute;
        width: 320px;
        height: 180px;
        left: 28px;
        top: 99px;
    
        font-family: Sen;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 30px;
    
        color: #ffffff;
    }
    
    p.dumele-is-designed-for {
        position: absolute;
        width: 320px;
        height: 82px;
        left: 28px;
        top: 235px;
    
        font-family: Epilogue;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
    
        color: #ffffff;
    }
    
    input.form {
        position: absolute;
        width: 320px;
        height: 56px;
        left: 28px;
        top: 335px;
    
        background: #fcfcfc;
        border: 1px solid rgba(255, 254, 254, 0.51);
        box-sizing: border-box;
        border-radius: 6px 0px 0px 6px;
    
        font-family: Epilogue;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
    
        color: #c1bdbd;
    }
    
    button.submit {
        position: absolute;
        width: 320px;
        height: 56px;
        left: 28px;
        top: 418px;
    
        font-family: Epilogue;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    
        color: #fcfcfc;
        
        background: #f18404;
        border-radius: 6px;
    
        cursor: pointer;
    }
    img.symble {
        display: none;
    }
    
    img.symble-1 {
        position: absolute;
        width: 290.84px;
        height: 439.77px;
        left: 84.16px;
        top: 531px;
    
        box-sizing: border-box;
    }
    
    img.symble-2 {
        position: absolute;
        width: 290.17px;
        height: 439.72px;
        left: 4.21px;
        top: 531px;
    
        box-sizing: border-box;
    }
    
    img.symble-3 {
        position: absolute;
        width: 290.85px;
        height: 284.14px;
        left: -75px;
        top: 531px;
    
        box-sizing: border-box;
    }

    .outer-container {
        position: absolute;
        width: 375px;
        height: 378px;
        left: 0px;
        top: 731px;
    
        background: #4a1a0e;
    }
    
    .inner-container {
        position: absolute;
        width: 320px;
        height: 686px;
        left: 29px;
        top: 75px;
    
        background: #f9f7f5;
        box-shadow: 0px 0px 4px 10px rgba(74, 26, 14, 0.02);
        border-radius: 8px;
    }
    
    img.group {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 58px;
        top: 59px;
    
        background: #f2edea;
        border-radius: 8px;
    }
    
    .who-we-are {
        position: absolute;
        width: 119px;
        height: 20px;
        left: 56px;
        top: 106px;
    
        font-family: Epilogue;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
    
        color: #4a1a0e
    }
    
    p.we-are {
        position: absolute;
        width: 257px;
        height: 193px;
        left: 54px;
        top: 138px;
    
        font-family: Epilogue;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
    
        color: #333131;
    }
    
    img.question {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 58px;
        top: 328px;
    
        background: #f2edea;
        border-radius: 8px;
    }
    
    .our-why {
        position: absolute;
        width: 62px;
        height: 20px;
        left: 58px;
        top: 383px;
    
        font-family: Epilougue;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
    
        color: #4a1a0e;
    }
    
    p.we-believe {
        position: absolute;
        width: 257px;
        height: 193px;
        left: 60px;
        top: 418px;
    
        font-family: Epilogue;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
    
        color: black;
    }
    
    .footer {
        position: absolute;
        width: 380px;
        height: 202px;
        left: 0px;
        top: 1600px;
    
        background: #f9f8f7;
    }
    
    img.mail-up {
        position: absolute;
        height: 9.98px;
        left: 46.41%;
        right: 46.63%;
        top: 11.2%;
    }
    
    img.mail-down {
        position: absolute;
        height: 7.88px;
        left: 46.41%;
        right: 46.63%;
        top: 16.30%;
    }
    
    img.mail-left {
        position: absolute;
        height: 9.98px;
        left: 46.61%;
        right: 46.63%;
        top: 13.60%;
    }
    
    img.mail-right {
        position: absolute;
        height: 9.98px;
        left: 50.96%;
        right: 46.43%;
        top: 13.60%; 
    }
    
    img.dumele-symble {
        position: absolute;
        height: 21px;
        left: 46.41%;
        right: 47.2%;
        top: 41.2%;
    }
    
    img.dumele-logo2 {
        position: absolute;
        height: 10px;
        left: 41.52%;
        right: 42.4%;
        top: 59.4%;
    }
    
    footer.copyright {
        position: absolute;
        width: 128px;
        height: 32px;
        left: 121px;
        top: 81.2%;
    
        font-family: Epilogue;
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 32px;
    
        color: #56556c;
    }

    
}