* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #4a1a0e;
}

header {
    display: flex;
}

.dumele-sign {
    margin: 66px;
}

.dumele-symbol {
    position: absolute;
    right: 0px;
}

.introduction {
    font-style: normal;
    margin-left: 74px;
}

h1.intro-text {
    font-family: sen;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    width: 672px;

    color: #ffffff;
}

p.paragraph-text {
    font-family: Epilogue;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    width: 511px;
    margin-top: 10px;

    color: #ffffff;
}

.cta {
    font-family: Epilogue;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    margin-top: 46px;
}

input.form {
    height: 55px;
    width: 429px;

    font-weight: normal;
    
    background: #fcfcfc;
    border: 1px solid rgba(255, 254, 254, 0.51);
    box-sizing: border-box;
    border-radius: 6px 0px 0px 6px;
}
button.submit {
    height: 57px;
    width: 179px;

    font-weight: 600;
    color: #fcfcfc;
    
    background: #f18404;
    border-radius: 0px 6px 6px 0px;

    cursor: pointer;
}

.inner-container {
    display: flex;
    margin-top: 151px;
    margin-inline: 30px;
    height: 371px;
    font-family: Epilogue;
    font-style: normal;
    
    background: #f9f7f5;
    box-shadow: 0px 0px 4px 10px rgba(74, 26, 14, 0.02);
    border-radius: 35px;
}

.heading-pic {
    display: flex;
}

.group-question {
    display: flex;
    margin-top: 5%;
    margin-inline: 50px;
}

.group-background {
    background: #f2edea;
    width: 88px;
    height: 84px;
    border-radius: 8px;
}

img.group-img {
    margin: 21px;
}

h3.who {
    width: 119px;
    height: 20px;
    color: #4a1a0e;
    margin-left: 40px;
    margin-top: 28px;
}

p.we-are {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #333131;
    margin-top: 18px;
}

.question {
    margin-left: 121px;
}

.heading-pic2 {
    display: flex;
}

.question-background {
    background: #f2edea;
    border-radius: 8px;
}

img.question-img {
    margin: 21px;
}

h3.why {
    color: #4a1a0e;
    margin-left: 40px;
    margin-top: 28px;
}

p.we-believe {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #333131;
    margin-top: 18px;
}

footer {
    display: flex;
    margin-top: 141px;
    height: 385px;
    background: #f9f8f7;
}

.foot {
    margin: auto;
    margin-right: 325px;
    text-align: center;
}

.logo2 {
    margin-top: 48px;
    margin-bottom: 21px;
}

.copyright {
    font-family: Epilogue;
    font-style: normal;
    font-weight: 200px;
    font-size: 20px;
    margin-right: 4%;
    margin-top: 329px;
    
    color: #56556c;
}

@media only screen and (max-width: 375px) {
h1.intro-text {
    width: 460px;
}

p.paragraph-text {
    width: 410px;
    line-height: 26px;
    height: 82px;
}

.dumele-symbol{
    display: none;
}

.cta {
    display: block;
}

input.form {
    width: 460px;
    margin-bottom: 27px;
}

button.submit {
    width: 460px;
}

.outer-container {
    margin-inline: 49px;
}

.inner-container {
    height: 886px;
    width: 455px;
}

.group-question {
    display: block;
    margin-left: 32px;
}

.heading-pic {
    display: block;
}

h3.who {
    margin-left: 0%;
}

.question {
    margin-left: 0px;
    margin-top: 16%;
}

.heading-pic2 {
    display: block;
}

.question-background {
    width: 88px;
}

h3.why {
    margin-left: 0px;
}

p.we-believe {
    margin-top: 28px;
    line-height: 28px;
}

footer {
    height: 0%;
}
}